.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  margin: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  background-color: rgba(24, 24, 9, 0.9);
  color: rgb(283, 283, 283);
}
.content {
  flex: 1 0 auto;
  width: 50%;
  margin: 2em auto;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

input,
textarea {
  padding: 5px 10px;
  font-size: 1.2em;
  border: 0;
  border-radius: 5px;
}

.content button {
  padding: 8px 12px;
  color: antiquewhite;
  background-color: rgba(24, 24, 9, 0.9);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content legend {
  font-size: 1.5em;
  color: rgba(24, 24, 9, 0.9);
}

.overview-main {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3em;
  padding: 0.5em;
  background-color: rgb(283, 283, 283);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.overview-main h3 {
  color: rgb(20, 62, 114);
  border-bottom: 1px solid rgb(203, 203, 203);
}

.overview-hero {
  padding: 1rem;
  background-color: rgb(20, 62, 114);
  color: rgb(283, 283, 283);
}

.left {
  flex-grow: 3;
}
.right {
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (max-width: 756px) {
  .content {
    width: 80%;
  }
}
